// Colors
$primary-title: #2C3E50;
$primary-p: #2C3E50;

$exclamation-icons: #A47503;
$exclamation-bg: #FFC12D;

$check-icons: #558502;
$check-bg: #A7EC2F;

$xmark-icons: #D52E13;
$xmark-bg: #FEB1A4;

$lightning-icons: #0787D4;
$lightning-bg: #85EBFA;

$info-icons: #5B568E;
$info-bg: #AACDF6;

// Variables
$primary-font: 'Lato';
$short-padding: 43px 70px 35px 50px;
$wide-padding:  40px 40px 35px 50px;