main{
    margin-left: 25px;
    h1{
        font-size: 30px;
        font-family: $primary-font;
        font-weight: 300;
        margin-bottom: 50px;
        color: $primary-title;
    }
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1171px;
        > div{
            border-radius: 10px;
            display: flex;
            padding: $short-padding;
            position: relative;
            .exit-icon{
                position: absolute;
                top: 18px;
                right: 20px;
                color: #CFD2D3;
                font-size: 14px;
            }
            .left{
                width: fit-content;
                i{
                    border-radius: 50%;
                    font-size: 24px;
                    margin-right: 30px;
                }
                .fa-exclamation{
                    border: 7px solid #C89210;
                    padding: 12px 20.5px;
                }
                .fa-check{
                    border: 7px solid #7BC200;
                    padding: 13px;
                }
                .fa-xmark{
                    border: 7px solid #F55C43;
                    padding: 12px 17px;
                }
                .fa-bolt-lightning{
                    border: 7px solid #47B4F6;
                    padding: 16.5px 18.5px;
                    font-size: 16px;
                }
                .fa-info{
                    border: 7px solid #8781BD;
                    padding: 13px 20px;
                }
            }
            .right{
                h3{
                    font-size: 14px;
                    font-family: $primary-font;
                    font-weight: 900;
                    letter-spacing: 1.4px;
                    color: $primary-title;
                    margin-bottom: 10px;
                }
                p{
                    color: $primary-p;
                    font-size: 14px;
                    line-height: 24px;
                    font-family: $primary-font
                }
            }
        }
        .warn-short{
            margin-bottom: 32px;
            .right{
                width: 357px;
            }
        }
        .warn-wide{
            padding: $wide-padding;
        }
        .exclamation{
            background-color: $exclamation-bg;
            i{
                color: $exclamation-icons;
            }
        }
        .check{
            background-color: $check-bg;
            i{
                color: $check-icons;
            }
        }
        .xmark{
            background-color: $xmark-bg;
            i{
                color: $xmark-icons;
            }
        }
        .lightning{
            background-color: $lightning-bg;
            i{
                color: $lightning-icons;
            }
        }
        .info{
            background-color: $info-bg;
            i{
                color: $info-icons;
            }
        }
    }
}