*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
main div{
    background-color: gray;
    margin: 10px 0;
}
.h-220{
    height: 220px;
}
.w-220{
    width: 220px;
}
.w-700{
    width: 700px;
}
.w-460{
    width: 460px;
}
.r2{
    width: 100px;
    height: 100px;
}
