main{
    display: flex;
    flex-direction: column;
}
main a{
    font-size: 35px;
    color: brown;
    padding: 10px 18px;
    border-radius: 15px;
    transition-duration: 1.5s, 0.5s;
    width: 100px;
    height: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
main a:hover{
    transform: scale(1.3) translate(20px, 20px);
    background-color: tomato;
    color: deepskyblue;
}
main img{
    height: 400px;
    width: 400px;
}